.pageWrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.pageApContent {
	padding-left: 24px;
	padding-right: 24px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.pageApBody {
	background-color: white;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	margin-top: 16px;
}

.pageAptype {
	margin-top: 16px;
}