.content {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 24px;
}

.DevUserCard {
	width: 100%;
	margin-bottom: 24px;
}

.DevUserTitle {
	color: rgba(0, 0, 0, 0.85);
	margin-bottom: 8px;
}

.DevUserCard>.ant-card-body {
	padding: 0px;
}

.devUserExtraDiv>a {
	color: rgba(0, 0, 0, 0.65);
	margin-left: 24px;
	font-size: 14px;
}

.devUserExtraDiv>a:hover {
	color: #1890ff;
}

.devUserExtraDiv>a.curTime {
	color: #1890ff;
}

.ant-card-extra {
	padding: 0px;
	display: flex;
	align-items: center;
}

.dateSel {
	display: flex;
	align-items: center;
	margin-left: 16px;
	height: 100%;
	width: 256px;
	margin-right: 10px;
}

.devUserExtraDiv {
	display: flex;
	align-items: center;
	height: 100%;
}

span.ant-calendar-picker-input {
	display: flex;
}