.topMenuStyle>.ant-menu-item {
	margin-right: 10px;
}


.dropdown-link {
	display: flex;
	align-items: center;
	height: 100%;
}

.dropdown-link:hover {
	cursor: pointer;
	background-color: #e6f7ff;
}

.Header {
	padding: 0px;
	background-color: white;
	margin-left: 256px;
	position: fixed;
	width: 100%;
	display: flex;
	flex: 1;
	z-index: 99999;
}

.HeaderMini {
	padding: 0px;
	background-color: white;
	margin-left: 80px;
	position: fixed;
	width: 100%;
	display: flex;
	flex: 1;
	z-index: 99999;
}

.HeaderRight {
	/*background-color: red;*/
	display: inline-flex;
	flex-direction: row-reverse;
	padding-right: 256px;
	margin-right: 24px;
	/*flex: 1;*/
}

.HeaderRightMini {
	/*background-color: red;*/
	display: inline-flex;
	flex-direction: row-reverse;
	padding-right: 80px;
	margin-right: 24px;
	/*flex: 1;*/
}

.HeaderLeft {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}

.HeaderLeft>.ant-menu-horizontal {
	line-height: 63px;
}

.Content {
	margin-left: 256px;
	margin-top: 64px;
	display: flex;
	flex: 1;
}

.ContentMini {
	margin-left: 80px;
	margin-top: 64px;
	display: flex;
	flex: 1;
}


.Footer {
	text-align: center;
	margin-left: 256px;
}

.FooterMini {
	text-align: center;
	margin-left: 80px;
}

.LogoAreaMini {
	background-color: #002140;
	height: 64px;
	/*line-height: 64px;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.LogoArea {
	background-color: #002140;
	height: 64px;
	padding-left: 24px;
	line-height: 64px;
	/*	display: flex;
	align-items: center;
	justify-content: center;*/
}

.Logo {
	width: 100px;
	height: 15px;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color .3s;
}

.trigger:hover {
	color: #1890ff;
}

.noticeSpan {
	padding-left: 12px;
	padding-right: 12px;
}

.noticeSpan:hover {
	cursor: pointer;
	background-color: #e6f7ff;
}

.ant-popover-title {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
}

.ant-popover-inner-content {
	padding: 0px;
}

.noticeItemImg>.ant-list-item-meta-avatar {
	margin-top: 8px;
}

.noticeFooter {
	border-top: 1px solid #e8e8e8;
	padding: 15px 16px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.noticeFooter:hover .noticeFootBtn {
	color: #18aeff;
}

.noticeFootBtn {
	color: rgba(0, 0, 0, 0.65);
}